.about {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  &__img {
    width: 260px;
  }
  &__name {
    margin-top: 8px;
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__description {
      max-width: 553px;
    text-align: center;
    margin-top: 8px;
    font-size: 1.8rem;
  }
  &__text {
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.8rem;
  }
  &__list {
    li {
      text-align: left;
      margin-top: 8px;
      font-size: 1.8rem;
    }
  }
  &__link{
    text-align: left;
    margin-top: 8px;
    font-size: 1.8rem;
  }
}
